/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');

/* Sections style */
body {
  display: flex;
  height: 100vh;
}

.header {
  margin: auto;
}
